[submodule "MVGCN"]
	path = MVGCN
	url = https://github.com/sheryl-ai/MVGCN.git
[submodule "paris"]
	path = paris
	url = https://github.com/tbonald/paris.git
[submodule "EAGCN"]
	path = EAGCN
	url = https://github.com/Luckick/EAGCN.git
[submodule "deepwalk"]
	path = deepwalk
	url = https://github.com/phanein/deepwalk.git
[submodule "node2vec"]
	path = node2vec
	url = https://github.com/aditya-grover/node2vec
