[submodule "MVGCN"]
	path = MVGCN
	url = https://github.com/sheryl-ai/MVGCN.git
[submodule "paris"]
	path = paris
	url = https://github.com/tbonald/paris.git
[submodule "EAGCN"]
	path = EAGCN
	url = https://github.com/Luckick/EAGCN.git
